rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /printJobs/{job} {
      allow create, update, delete: if false;
      allow read: if true;
    }
  }
}
