PORT=3000
JWT_SECRET=
CLIENT_URL=http://localhost:5173
CASHFREE_APP_ID=
CASHFREE_SECRET_KEY=
GOOGLE_CLIENT_ID=
FIREBASE_STORAGE_BUCKET=gs://testv3-a215b.firebasestorage.app
FASTAPI_PRINT_URL=http://192.168.1.100:8000/print
